In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("./data/test_2_parallel_modules.txt", sep = "\t", header = 0)

In [4]:
df.head()

      gene   mean   score              group
0      FTL  15.07  186.67  macrophage|severe
1     FTH1  14.59  146.65  macrophage|severe
2   TMSB10  13.36   87.04  macrophage|severe
3     SAT1  12.33   90.15  macrophage|severe
4  S100A11  12.31  115.66  macrophage|severe

In [25]:
df_test = df.iloc[range(150),:]
df_test.shape

(150, 4)

In [26]:
a = df_test["group"].value_counts()

In [28]:
b = a[a==100].index.values

In [29]:
df.loc[df["group"].isin(b),:]

        gene   mean   score              group
0        FTL  15.07  186.67  macrophage|severe
1       FTH1  14.59  146.65  macrophage|severe
2     TMSB10  13.36   87.04  macrophage|severe
3       SAT1  12.33   90.15  macrophage|severe
4    S100A11  12.31  115.66  macrophage|severe
..       ...    ...     ...                ...
95      MNDA   6.53  103.55  macrophage|severe
96  SERPING1   6.45  104.73  macrophage|severe
97    GLIPR2   6.45   75.98  macrophage|severe
98      CTSZ   6.43  103.06  macrophage|severe
99    CDKN1A   6.42   67.75  macrophage|severe

[100 rows x 4 columns]

In [38]:
a = df["gene"][:34]

In [39]:
len(a)

31

In [40]:
def chunk2(x, n): return [x[i:i+n] for i in range(0, len(x), n)]

In [55]:
np.array_split(a,7)

[0        FTL
 1       FTH1
 2     TMSB10
 3       SAT1
 4    S100A11
 Name: gene, dtype: object,
 5      CCL2
 6    IFITM3
 7    S100A6
 8      CTSL
 9      CD74
 Name: gene, dtype: object,
 10      FCER1G
 11         VIM
 12      TYROBP
 13        CTSB
 14    SH3BGRL3
 Name: gene, dtype: object,
 15       SRGN
 16    S100A10
 17       CSTB
 18       TYMP
 Name: gene, dtype: object,
 19       CST3
 20    HLA-DRA
 21       KLF6
 22       CTSD
 Name: gene, dtype: object,
 23    LGALS3
 24      PSAP
 25    LGALS1
 26      GLUL
 Name: gene, dtype: object,
 27    IFI30
 28    RSAD2
 29    IFIT3
 30     CD63
 Name: gene, dtype: object]

In [56]:
b = np.array_split(a,7)
type(b)

list

In [61]:
def get_chunk_id(b):
    chunk_ids = []
    for i in range(len(b)):
        chunk_ids += [i] * len(b[i])
    return chunk_ids

In [62]:
get_chunk_id(b)

[0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6]