In [1]:
import scanpy as sc 
import numpy

In [3]:
import sys
sys.path.insert(1, '/Users/kang/Dropbox/Code/ToppCell-Python/')
import ToppCell_Python as tp

### 1. load data

In [5]:
output_dir = "/Users/kang/Dropbox/Code/data/toppcell_test/"
adata = sc.read("/Users/kang/Dropbox/Code/data/batch2_all_normalized_filtered.h5ad")

In [8]:
adata

AnnData object with n_obs × n_vars = 24673 × 35635
    obs: 'tsne1', 'tsne2', 'ind', 'stim', 'cluster', 'cell', 'multiplets'
    var: 'gene symbol'
    uns: 'log1p'

In [9]:
adata.obs.head()

,tsne1,tsne2,ind,stim,cluster,cell,multiplets
AAACATACATTTCC-1,-27.640373,14.966629,1016,ctrl,9,CD14+ Monocytes,singlet
AAACATACCAGAAA-1,-27.493646,28.924885,1256,ctrl,9,CD14+ Monocytes,singlet
AAACATACCATGCA-1,-10.468194,-5.984389,1488,ctrl,3,CD4 T cells,singlet
AAACATACCTCGCT-1,-24.367997,20.429285,1256,ctrl,9,CD14+ Monocytes,singlet
AAACATACCTGGTA-1,27.952170,24.159738,1039,ctrl,4,Dendritic cells,singlet